body {
	background: #F7F7F7;
	color: #555555;
	position: relative;
	padding-bottom: 2.2rem;
}

ul,
ol,
li {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a,
img,
button,
input,
textarea,
div,
li {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	border: 0;
	margin: 0;
	padding: 0;
	border-radius: 0;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	border-radius: 0;
}

b,
i {
	text-decoration: none;
	font-weight: normal;
}

input[type=submit],
input[type=button] {
	-webkit-appearance: none;
}

input[type="submit"] {
	/*position: absolute;*/
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.2rem;
	background: #FC3353;
	color: white;
	font-size: 0.8rem;
}

textarea,
input::-webkit-input-placeholder {
	color: #999999;
	font-size: 0.75rem;
	line-height: 0.75rem;
}

.title {
	width: 100%;
	height: 2rem;
	background: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	text-align: center;
	line-height: 2rem;
	font-size: 0.85rem;
	color: #444444;
	font-weight: 100;
}

.title>.withdraw {
	display: block;
	width: auto;
	height: auto;
}

.title>.withdraw>img {
	position: absolute;
	height: 0.6rem;
	top: 0.675rem;
	left: 0.5rem;
}

.inputdivbox {
	position: relative;
	width: 100%;
}

.edit textarea {
	display: block;
	margin: 0 auto;
	resize: none;
	width: 14.65rem;
	min-height: 5rem;
	color: #333333;
	line-height: 1rem;
	font-size: 0.75rem;
	background: 0;
	margin-top: 0.75rem;
}

.imgul,
section:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.imgul {
	min-height: 3.5rem;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	padding-bottom: 0.8rem;
}

.imgul>li {
	width: 3rem;
	height: 3rem;
	margin-right: 0.6rem;
	float: left;
	background: #F3F3F3;
	position: relative;
}

.imgul>li>img {
	width: 3rem;
	height: 3rem;
}

.imgul>li:nth-child(4n+0) {
	margin-right: 0;
}

.imgul>li:nth-child(1) {
	text-align: center;
}

#addimgs {
	width: 2rem;
	height: 2rem;
	margin-top: 0.6rem;
}

.liicon {
	position: absolute;
	top: -0.4rem;
	right: -0.4rem;
	width: 0.8rem;
	height: 0.8rem;
	text-align: center;
	line-height: 0.75rem;
	font-size: 0.8rem;
	background: #FC3353;
	border-radius: 50%;
	color: white;
}

.inputboximg {
	padding-bottom: 0;
}

.z_photo {
	min-height: 3.5rem;
	width: 14.65rem;
	margin: 0 auto;
	margin-top: 0.5rem;
	padding-bottom:0.45rem;
	border-bottom: 1px solid #DDDDDD;
	clear: both;
}

section {
	width: 3rem;
	height: 3rem;
	margin-right: 0.5rem;
	margin-bottom: 0.6rem;
	float: left;
	background: #F3F3F3;
	position: relative;
	border: 1px solid #ccc;
}

section img {
	width: 3rem;
	height: 3rem;
}

.z_file .file {
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.z_file {
	border: 1px solid #ccc;
}

.close-upimg {
	position: absolute;
	top: -0.4rem;
	right: -0.4rem;
	width: 0.8rem;
	height: 0.8rem;
	text-align: center;
	line-height: 0.6rem;
	font-size: 1rem;
	background: #FC3353;
	border-radius: 50%;
	color: white;
}

.loading {
	border: 1px solid #D1D1D1;
	background: url(../images/loading.gif) no-repeat center;
}


/*遮罩层样式*/

.mask {
	z-index: 1000;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
}

.mask .mask-content {
	width: 12.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -6.25rem;
	margin-top: -2rem;
	background: white;
	height: 5rem;
	text-align: center;
	border-radius: 5px;
}

.mask .mask-content .del-p {
	color: #777;
	height: 3rem;
	line-height: 3rem;
	font-size: 0.6rem;
	border-bottom: 1px solid #D1D1D1;
}

.mask-content .check-p {
	line-height: 2rem;
	font-size: 0.7rem;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.mask-content .check-p span {
	width: 49%;
	display: inline-block;
	text-align: center;
	color: #d4361d;
	font-size: 0.7rem;
}

.mask-content .check-p .wsdel-no {
	border-right: 1px solid #D1D1D1;
	color: #666;
}

.add-img {
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	top: 0.9rem;
	left: 0.9rem;
}

.timeinputborder {
	border: 0
}

.alertbox {
	position: absolute;
	top: 70%;
	left: 25%;
	width: 50%;
	height: 1.5rem;
	line-height: 1.5rem;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 1.5rem;
	color: white;
	font-size: 0.7rem;
	text-align: center;
	display: none;
	font-weight: normal;
}

.edit textarea::-webkit-input-placeholder {
	font-size: 0.7rem;
}

#start_date {
	font-size: 0.7rem;
}